<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/editForm.css">
  <title>Editar Producto</title>
  <script src="../../js/editProduct.js"></script>
</head>
<body>
  <%- include("partials/header.ejs", { user: user }) %>
  <main>
    <div class="form">
      <h2><%= products.name %></h2>
      <form action="/products/<%= products.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="text" id="name" name="name" value="<%= products.name %>" class="form-control" required placeholder="Nombre del producto"/>
        </div>
        
        <div class="form-group">
          <input type="number" id="price" name="price" value="<%= products.price %>" class="form-control" required placeholder="Precio del producto"/>
        </div>
        
        <div class="form-group">
          <select name="category" id="category" class="form-control" required>
            <option value="" disabled>Seleccionar categoría</option>
            <option value="in-sale" <%= products.category === 'in-sale' ? 'selected' : '' %>>En oferta</option>
            <option value="visited" <%= products.category === 'visited' ? 'selected' : '' %>>Últimos agregados</option>
          </select>
        </div>

        <div class="form-group">
          <div class="current-image">
            <img src="/images/<%= products.image %>" alt="<%= products.name %>">
          </div>
          <input type="file" name="image" id="image" class="form-control" />
        </div>

        <div class="form-group">
          <textarea name="description" id="description" class="form-control" required placeholder="Descripción del producto"><%= products.description %></textarea>
        </div>

        <button type="submit" class="submit">Guardar cambios</button>
      </form>
    </div>
  </main>
  <%- include("partials/footer.ejs") %>
</body>
</html>
